.form {
  display: flex;
  flex-direction: column;

  width: 300px;

  border: 1px solid;
  border-radius: 10px;

  padding: 20px 10px;
}

.form_label {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  margin-bottom: 10px;
}

.form_input {
  width: 200px;
  padding: 5px;
}

.button {
  width: 100px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #add8e6;
  border: 1px solid lightskyblue;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: #8dd5ee;
}
