.form {
  display: flex;

  width: 300px;

  border: 1px solid;
  border-radius: 10px;

  padding: 20px 10px;
}

.form_label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: medium;
}

.form_input {
  margin-top: 10px;
  padding: 5px;
  width: 200px;
}

.button {
  width: 100px;
  margin-top: 10px;
}
